[run]
omit =
    fridgify_backend/*


[report]
show_missing = True
omit =
    fridgify_backend/models/exceptions/*
    fridgify_backend/models/__init__.py
    fridgify_backend/models/accesstokens.py
    fridgify_backend/models/fridge_content.py
    fridgify_backend/models/fridges.py
    fridgify_backend/models/items.py
    fridgify_backend/models/providers.py
    fridgify_backend/models/stores.py
    fridgify_backend/models/user_fridge.py
    fridgify_backend/models/users.py
    fridgify_backend/migrations/*
    fridgify_backend/settings/*
