[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "==2.2.8"
behave = "==1.2.6"
djangorestframework = "==3.10.3"
psycopg2 = "==2.8.4"
pyjwt = "==1.7.1"
bcrypt = "==3.1.7"
django-extensions = "==2.2.5"
pydotplus = "==2.0.2"
psycopg2-binary = "*"
coverage = "==4.5.4"
Markdown="==3.2.1"
drf-yasg="==1.17.1"

[requires]
python_version = "3.7.4"
