[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
Faker = "==4.0.3"
Markdown="==3.2.1"
pydotplus = "==2.0.2"

[packages]
django-cors-headers="==3.3.0"
Django = "==2.2.27"
drf-yasg="==1.17.1"
behave = "==1.2.6"
djangorestframework = "==3.10.3"
psycopg2 = "==2.8.4"
pyjwt = "==1.7.1"
bcrypt = "==3.1.7"
psycopg2-binary = "*"
django-extensions = "==2.2.5"
django-nose="==1.4.6"
coverage="==4.4.1"
firebase-admin="==4.3.0"
hopper-api="==0.3.3"

[requires]
python_version = "3.7"
